FORMAT: 1A
HOST: http://www.google.com

# UH CMS API v1
Notes API is a *short texts saving* service similar to its physical paper presence on your table.

# Group Components
Components related resources of the **Components API**

## Components Collection [/components{?start,count}]
### List all Components [GET]

+ Parameters
    + start (optional, number, `0`) ... This offsets the start of each page by the number specified.
    + count (optional, number, `10`) ... This is the number of records returned in each page.  A count of 0 will return to no results.

+ Response 200 (application/json)
    
    + Body

            {
                "elapsed_time": 2,
                "entries": [
                    {
                        "component_id": 1,
                        "modified_by": 1,
                        "name": "Universal Header",
                        "timestamp": "2010-08-19T21:39:47.000Z"
                    },
                    {
                        "component_id": 5,
                        "modified_by": 0,
                        "name": "src_code",
                        "timestamp": "2010-09-01T00:49:07.000Z"
                    },
                    {
                        "component_id": 6,
                        "modified_by": 0,
                        "name": "signed_in_as",
                        "timestamp": "2010-09-01T01:03:37.000Z"
                    },
                    {
                        "component_id": 7,
                        "modified_by": 0,
                        "name": "network_link",
                        "timestamp": "2010-09-01T05:52:16.000Z"
                    },
                    {
                        "component_id": 8,
                        "modified_by": 0,
                        "name": "fr_code",
                        "timestamp": "2010-09-01T07:01:05.000Z"
                    }
                ],
                "inputs": {
                    "count": 5,
                    "start": 0
                },
                "success": true
            }