FORMAT: 1A
HOST: http://www.google.com

# UH CMS API v1

# Group Components Resources

## ComponentAttribute Collection [/components/attributes{?start,count}]
### List all attributes [GET]

+ Parameters

    + start (optional, number, `0`) ... This offsets the start of each page by the number specified.
    + count (optional, number, `10`) ... This is the number of records returned in each page.  A count of 0 will return to no results.

+ Response 200 (application/json)

    + Body
    
            {
                "code": 200,
                "data": [
                    {
                        "default_value": "",
                        "id": 14,
                        "modified_by": 0,
                        "name": "games",
                        "timestamp": "2012-09-27T15:59:20.000Z"
                    },
                    {
                        "default_value": "",
                        "id": 13,
                        "modified_by": 0,
                        "name": "device",
                        "timestamp": "2011-12-22T00:39:09.000Z"
                    },
                    {
                        "default_value": "standard",
                        "id": 12,
                        "modified_by": 0,
                        "name": "style",
                        "timestamp": "2010-09-01T05:46:03.000Z"
                    },
                    {
                        "default_value": "standard",
                        "id": 11,
                        "modified_by": 0,
                        "name": "comarketing",
                        "timestamp": "2010-09-01T05:45:50.000Z"
                    },
                    {
                        "default_value": "standard",
                        "id": 10,
                        "modified_by": 0,
                        "name": "forcecobrand",
                        "timestamp": "2010-09-01T05:45:37.000Z"
                    },
                    {
                        "default_value": "0",
                        "id": 9,
                        "modified_by": 0,
                        "name": "https",
                        "timestamp": "2010-09-01T05:45:24.000Z"
                    },
                    {
                        "default_value": "0",
                        "id": 8,
                        "modified_by": 0,
                        "name": "iframe",
                        "timestamp": "2010-09-01T05:45:13.000Z"
                    },
                    {
                        "default_value": "standard",
                        "id": 7,
                        "modified_by": 0,
                        "name": "format",
                        "timestamp": "2010-09-01T05:44:51.000Z"
                    },
                    {
                        "default_value": "active",
                        "id": 6,
                        "modified_by": 1,
                        "name": "Status",
                        "timestamp": "2010-08-19T21:43:11.000Z"
                    },
                    {
                        "default_value": "signedout",
                        "id": 5,
                        "modified_by": 1,
                        "name": "AuthState",
                        "timestamp": "2010-08-19T21:43:11.000Z"
                    },
                    {
                        "default_value": "standard",
                        "id": 4,
                        "modified_by": 1,
                        "name": "Cobrand",
                        "timestamp": "2010-08-19T21:43:11.000Z"
                    },
                    {
                        "default_value": "standard",
                        "id": 3,
                        "modified_by": 1,
                        "name": "Tag",
                        "timestamp": "2010-08-19T21:43:11.000Z"
                    },
                    {
                        "default_value": "en-US",
                        "id": 2,
                        "modified_by": 1,
                        "name": "LanguageTag",
                        "timestamp": "2010-08-19T21:43:11.000Z"
                    },
                    {
                        "default_value": "",
                        "id": 1,
                        "modified_by": 1,
                        "name": "Property",
                        "timestamp": "2010-08-19T21:43:11.000Z"
                    }
                ],
                "info": {
                    "elapsed_time": 6,
                    "inputs": {
                        "count": 50,
                        "start": 0
                    },
                    "total": 14
                }
            }

## ComponentAttribute [/components/attributes/{id}{?start,count}]
### Retrieve a attribute [GET]

+ Parameters

    + id (required, number, `1`) ... Component Attribute id
    + start (optional, number, `0`) ... This offsets the start of each page by the number specified.
    + count (optional, number, `10`) ... This is the number of records returned in each page.  A count of 0 will return to no results.

+ Response 200 (application/json)

    + Body
    
            {
            
                    "code": 200,
                    "data": {
                        "attribute_values": [
                            {
                                "id": 327,
                                "modified_by": 0,
                                "normalized_value": "celebrity",
                                "timestamp": "2013-12-20T01:23:10.000Z",
                                "value": "celebrity"
                            },
                            {
                                "id": 326,
                                "modified_by": 0,
                                "normalized_value": "settings",
                                "timestamp": "2013-12-16T22:30:39.000Z",
                                "value": "settings"
                            },
                            {
                                "id": 325,
                                "modified_by": 0,
                                "normalized_value": "mag_tech",
                                "timestamp": "2013-11-22T20:31:39.000Z",
                                "value": "mag_tech"
                            },
                            {
                                "id": 324,
                                "modified_by": 0,
                                "normalized_value": "meeticaffinity",
                                "timestamp": "2013-11-11T08:43:33.000Z",
                                "value": "meeticaffinity"
                            },
                            {
                                "id": 323,
                                "modified_by": 0,
                                "normalized_value": "meetic",
                                "timestamp": "2013-11-11T08:43:13.000Z",
                                "value": "meetic"
                            }
                        ],
                        "default_value": "",
                        "id": 1,
                        "modified_by": 1,
                        "name": "Property",
                        "timestamp": "2010-08-19T21:43:11.000Z"
                    },
                    "info": {
                        "elapsed_time": 5,
                        "inputs": {
                            "_id": "1",
                            "count": 5,
                            "show_attribute_values": "1",
                            "start": 0
                        },
                        "total": 124
                    }
            }
            
## Component Collection [/components{?start,count}]
### List all components [GET]

+ Parameters

    + start (optional, number, `0`) ... This offsets the start of each page by the number specified.
    + count (optional, number, `10`) ... This is the number of records returned in each page.  A count of 0 will return to no results.

+ Response 200 (application/json)

    + Body

            {
                "code": 200,
                "data": [
                    {
                        "id": 270,
                        "modified_by": 0,
                        "name": "uh3_css_gridoverride",
                        "timestamp": "2014-01-15T23:19:32.000Z"
                    },
                    {
                        "id": 269,
                        "modified_by": 0,
                        "name": "uh3_assistarrows",
                        "timestamp": "2014-01-15T19:30:54.000Z"
                    },
                    {
                        "id": 267,
                        "modified_by": 0,
                        "name": "uh3_search_yhs_input",
                        "timestamp": "2013-12-18T20:34:25.000Z"
                    },
                    {
                        "id": 266,
                        "modified_by": 0,
                        "name": "uh3_sidebar",
                        "timestamp": "2013-12-01T21:03:27.000Z"
                    },
                    {
                        "id": 265,
                        "modified_by": 0,
                        "name": "string_open_search",
                        "timestamp": "2013-11-26T17:25:35.000Z"
                    }
                ],
                "info": {
                    "elapsed_time": 3,
                    "inputs": {
                        "count": 5,
                        "start": 0
                    },
                    "total": 195
                }
            }
            
## Component [/components/{id}]
### Retrieve a component [GET]

+ Parameters

    + id (required, number, `1`) ... Component id

+ Response 200 (application/json)

    + Body

            {
                "code": 200,
                "data": {
                    "attribute_names": [
                        {
                            "default_value": "active",
                            "id": 6,
                            "modified_by": 1,
                            "name": "Status",
                            "timestamp": "2010-08-19T21:43:11.000Z"
                        },
                        {
                            "default_value": "standard",
                            "id": 7,
                            "modified_by": 0,
                            "name": "format",
                            "timestamp": "2010-09-01T05:44:51.000Z"
                        }
                    ],
                    "id": 1,
                    "modified_by": 1,
                    "name": "Universal Header",
                    "timestamp": "2010-08-19T21:39:47.000Z"
                },
                "info": {
                    "elapsed_time": 3,
                    "inputs": {
                        "_id": "1",
                        "show_attribute_names": "1"
                    }
                }
            }
            
## ComponentInstance Collection [/components/instances{/?component_id,start,count}]
### List all instances [GET]

+ Parameters

    + component_id (optional, string, `1,5`) ... Component filters
    + start (optional, number, `0`) ... This offsets the start of each page by the number specified.
    + count (optional, number, `10`) ... This is the number of records returned in each page.  A count of 0 will return to no results.

+ Response 200 (application/json)

    + Body

            {
                "code": 200,
                "data": [
                    {
                        "component_id": 1,
                        "hashcode": "dafe6c7278465a03a417c0ad4e0f51c0",
                        "id": 35383,
                        "modified_by": 0,
                        "name": "topbar",
                        "status_id": 3,
                        "timestamp": "2013-03-23T03:57:14.000Z"
                    },
                    {
                        "component_id": 1,
                        "hashcode": "437cf2c381c0f145c9c4b53212f2bbb9",
                        "id": 35254,
                        "modified_by": 0,
                        "name": "offnet",
                        "status_id": 3,
                        "timestamp": "2013-01-17T19:53:37.000Z"
                    },
                    {
                        "component_id": 1,
                        "hashcode": "98d8073ce7abaea44e60c08bdda42d7d",
                        "id": 21261,
                        "modified_by": 0,
                        "name": "slim",
                        "status_id": 3,
                        "timestamp": "2012-07-31T21:20:37.000Z"
                    },
                    {
                        "component_id": 1,
                        "hashcode": "da6e2ad4dda1de21a28f4f237da4c0b2",
                        "id": 21024,
                        "modified_by": 0,
                        "name": "standard",
                        "status_id": 3,
                        "timestamp": "2012-05-24T22:12:34.000Z"
                    },
                    {
                        "component_id": 1,
                        "hashcode": "66ce7d4e59da33258c5163d4fb62435e",
                        "id": 17374,
                        "modified_by": 0,
                        "name": "slim",
                        "status_id": 3,
                        "timestamp": "2011-12-20T19:48:27.000Z"
                    }
                ],
                "info": {
                    "elapsed_time": 4,
                    "inputs": {
                        "component_id": "1",
                        "count": 5,
                        "start": 0
                    },
                    "total": 7
                }
            }
            
## ComponentInstance [/components/instances/{id}]
### Retrieve a component instance [GET]

+ Parameters

    + id (required, string, `1`) ... Component instance id
    
+ Response 200 (application/json)

    + Body

            {
                "code": 200,
                "data": {
                    "attribute_values": [
                        {
                            "attribute_name": [
                                {
                                    "default_value": "active",
                                    "id": 6,
                                    "modified_by": 1,
                                    "name": "Status",
                                    "timestamp": "2010-08-19T21:43:11.000Z"
                                }
                            ],
                            "attribute_name_id": 6,
                            "id": 7,
                            "modified_by": 13,
                            "normalized_value": "inactive",
                            "timestamp": "2010-08-19T21:43:11.000Z",
                            "value": "inactive"
                        },
                        {
                            "attribute_name": [
                                {
                                    "default_value": "standard",
                                    "id": 7,
                                    "modified_by": 0,
                                    "name": "format",
                                    "timestamp": "2010-09-01T05:44:51.000Z"
                                }
                            ],
                            "attribute_name_id": 7,
                            "id": 25,
                            "modified_by": 0,
                            "normalized_value": "standard",
                            "timestamp": "2010-09-01T05:46:27.000Z",
                            "value": "standard"
                        }
                    ],
                    "component": [
                        {
                            "modified_by": 1,
                            "name": "Universal Header",
                            "timestamp": "2010-08-19T21:39:47.000Z"
                        }
                    ],
                    "component_id": 1,
                    "hashcode": "da6e2ad4dda1de21a28f4f237da4c0b2",
                    "id": 21024,
                    "modified_by": 0,
                    "name": "standard",
                    "status_id": 3,
                    "timestamp": "2012-05-24T22:12:34.000Z"
                },
                "info": {
                    "elapsed_time": 10,
                    "inputs": {
                        "_id": "21024",
                        "show_attribute_name": "1",
                        "show_attribute_values": "1",
                        "show_component": "1"
                    }
                }
            }
