FORMAT: 1A
HOST: http://www.google.com

# UH CMS API v1

# Group Components Resources

## ComponentAttribute Collection [/components/attributes{?start,count}]
### List all attributes [GET]

+ Parameters

    + start (optional, number, `0`) ... This offsets the start of each page by the number specified.
    + count (optional, number, `10`) ... This is the number of records returned in each page.  A count of 0 will return to no results.

+ Response 200 (application/json)

    + Body
    
            {
                "code": 200,
                "data": [
                    {
                        "default_value": "",
                        "id": 14,
                        "modified_by": 0,
                        "name": "games",
                        "timestamp": "2012-09-27T15:59:20.000Z"
                    },
                    {
                        "default_value": "",
                        "id": 13,
                        "modified_by": 0,
                        "name": "device",
                        "timestamp": "2011-12-22T00:39:09.000Z"
                    },
                    {
                        "default_value": "standard",
                        "id": 12,
                        "modified_by": 0,
                        "name": "style",
                        "timestamp": "2010-09-01T05:46:03.000Z"
                    },
                    {
                        "default_value": "standard",
                        "id": 11,
                        "modified_by": 0,
                        "name": "comarketing",
                        "timestamp": "2010-09-01T05:45:50.000Z"
                    },
                    {
                        "default_value": "standard",
                        "id": 10,
                        "modified_by": 0,
                        "name": "forcecobrand",
                        "timestamp": "2010-09-01T05:45:37.000Z"
                    },
                    {
                        "default_value": "0",
                        "id": 9,
                        "modified_by": 0,
                        "name": "https",
                        "timestamp": "2010-09-01T05:45:24.000Z"
                    },
                    {
                        "default_value": "0",
                        "id": 8,
                        "modified_by": 0,
                        "name": "iframe",
                        "timestamp": "2010-09-01T05:45:13.000Z"
                    },
                    {
                        "default_value": "standard",
                        "id": 7,
                        "modified_by": 0,
                        "name": "format",
                        "timestamp": "2010-09-01T05:44:51.000Z"
                    },
                    {
                        "default_value": "active",
                        "id": 6,
                        "modified_by": 1,
                        "name": "Status",
                        "timestamp": "2010-08-19T21:43:11.000Z"
                    },
                    {
                        "default_value": "signedout",
                        "id": 5,
                        "modified_by": 1,
                        "name": "AuthState",
                        "timestamp": "2010-08-19T21:43:11.000Z"
                    },
                    {
                        "default_value": "standard",
                        "id": 4,
                        "modified_by": 1,
                        "name": "Cobrand",
                        "timestamp": "2010-08-19T21:43:11.000Z"
                    },
                    {
                        "default_value": "standard",
                        "id": 3,
                        "modified_by": 1,
                        "name": "Tag",
                        "timestamp": "2010-08-19T21:43:11.000Z"
                    },
                    {
                        "default_value": "en-US",
                        "id": 2,
                        "modified_by": 1,
                        "name": "LanguageTag",
                        "timestamp": "2010-08-19T21:43:11.000Z"
                    },
                    {
                        "default_value": "",
                        "id": 1,
                        "modified_by": 1,
                        "name": "Property",
                        "timestamp": "2010-08-19T21:43:11.000Z"
                    }
                ],
                "info": {
                    "elapsed_time": 6,
                    "inputs": {
                        "count": 50,
                        "start": 0
                    },
                    "total": 14
                }
            }

## ComponentAttribute [/components/attributes/{id}{?start,count}]
### Retrieve an attribute [GET]

+ Parameters

    + id (required, number, `1`) ... Component Attribute id
    + start (optional, number, `0`) ... This offsets the start of each page by the number specified.
    + count (optional, number, `10`) ... This is the number of records returned in each page.  A count of 0 will return to no results.

+ Response 200 (application/json)

    + Body
    
            {
            
                    "code": 200,
                    "data": {
                        "attribute_values": [
                            {
                                "id": 327,
                                "modified_by": 0,
                                "normalized_value": "celebrity",
                                "timestamp": "2013-12-20T01:23:10.000Z",
                                "value": "celebrity"
                            },
                            {
                                "id": 326,
                                "modified_by": 0,
                                "normalized_value": "settings",
                                "timestamp": "2013-12-16T22:30:39.000Z",
                                "value": "settings"
                            },
                            {
                                "id": 325,
                                "modified_by": 0,
                                "normalized_value": "mag_tech",
                                "timestamp": "2013-11-22T20:31:39.000Z",
                                "value": "mag_tech"
                            },
                            {
                                "id": 324,
                                "modified_by": 0,
                                "normalized_value": "meeticaffinity",
                                "timestamp": "2013-11-11T08:43:33.000Z",
                                "value": "meeticaffinity"
                            },
                            {
                                "id": 323,
                                "modified_by": 0,
                                "normalized_value": "meetic",
                                "timestamp": "2013-11-11T08:43:13.000Z",
                                "value": "meetic"
                            }
                        ],
                        "default_value": "",
                        "id": 1,
                        "modified_by": 1,
                        "name": "Property",
                        "timestamp": "2010-08-19T21:43:11.000Z"
                    },
                    "info": {
                        "elapsed_time": 5,
                        "inputs": {
                            "_id": "1",
                            "count": 5,
                            "show_attribute_values": "1",
                            "start": 0
                        },
                        "total": 124
                    }
            }
            
## Component Collection [/components{?start,count}]
### List all components [GET]

+ Parameters

    + start (optional, number, `0`) ... This offsets the start of each page by the number specified.
    + count (optional, number, `10`) ... This is the number of records returned in each page.  A count of 0 will return to no results.

+ Response 200 (application/json)

    + Body

            {
                "code": 200,
                "data": [
                    {
                        "id": 270,
                        "modified_by": 0,
                        "name": "uh3_css_gridoverride",
                        "timestamp": "2014-01-15T23:19:32.000Z"
                    },
                    {
                        "id": 269,
                        "modified_by": 0,
                        "name": "uh3_assistarrows",
                        "timestamp": "2014-01-15T19:30:54.000Z"
                    },
                    {
                        "id": 267,
                        "modified_by": 0,
                        "name": "uh3_search_yhs_input",
                        "timestamp": "2013-12-18T20:34:25.000Z"
                    },
                    {
                        "id": 266,
                        "modified_by": 0,
                        "name": "uh3_sidebar",
                        "timestamp": "2013-12-01T21:03:27.000Z"
                    },
                    {
                        "id": 265,
                        "modified_by": 0,
                        "name": "string_open_search",
                        "timestamp": "2013-11-26T17:25:35.000Z"
                    }
                ],
                "info": {
                    "elapsed_time": 3,
                    "inputs": {
                        "count": 5,
                        "start": 0
                    },
                    "total": 195
                }
            }
            
## Component [/components/{id}]
### Retrieve a component [GET]

+ Parameters

    + id (required, number, `1`) ... Component id

+ Response 200 (application/json)

    + Body

            {
                "code": 200,
                "data": {
                    "attribute_names": [
                        {
                            "default_value": "active",
                            "id": 6,
                            "modified_by": 1,
                            "name": "Status",
                            "timestamp": "2010-08-19T21:43:11.000Z"
                        },
                        {
                            "default_value": "standard",
                            "id": 7,
                            "modified_by": 0,
                            "name": "format",
                            "timestamp": "2010-09-01T05:44:51.000Z"
                        }
                    ],
                    "id": 1,
                    "modified_by": 1,
                    "name": "Universal Header",
                    "timestamp": "2010-08-19T21:39:47.000Z"
                },
                "info": {
                    "elapsed_time": 3,
                    "inputs": {
                        "_id": "1",
                        "show_attribute_names": "1"
                    }
                }
            }
            
## ComponentInstance Collection [/components/instances{?component_id,start,count}]
### List all instances [GET]

+ Parameters

    + component_id (optional, string, `1,5`) ... Component filters
    + start (optional, number, `0`) ... This offsets the start of each page by the number specified.
    + count (optional, number, `10`) ... This is the number of records returned in each page.  A count of 0 will return to no results.

+ Response 200 (application/json)

    + Body

            {
                "code": 200,
                "data": [
                    {
                        "component_id": 1,
                        "hashcode": "dafe6c7278465a03a417c0ad4e0f51c0",
                        "id": 35383,
                        "modified_by": 0,
                        "name": "topbar",
                        "status_id": 3,
                        "timestamp": "2013-03-23T03:57:14.000Z"
                    },
                    {
                        "component_id": 1,
                        "hashcode": "437cf2c381c0f145c9c4b53212f2bbb9",
                        "id": 35254,
                        "modified_by": 0,
                        "name": "offnet",
                        "status_id": 3,
                        "timestamp": "2013-01-17T19:53:37.000Z"
                    },
                    {
                        "component_id": 1,
                        "hashcode": "98d8073ce7abaea44e60c08bdda42d7d",
                        "id": 21261,
                        "modified_by": 0,
                        "name": "slim",
                        "status_id": 3,
                        "timestamp": "2012-07-31T21:20:37.000Z"
                    },
                    {
                        "component_id": 1,
                        "hashcode": "da6e2ad4dda1de21a28f4f237da4c0b2",
                        "id": 21024,
                        "modified_by": 0,
                        "name": "standard",
                        "status_id": 3,
                        "timestamp": "2012-05-24T22:12:34.000Z"
                    },
                    {
                        "component_id": 1,
                        "hashcode": "66ce7d4e59da33258c5163d4fb62435e",
                        "id": 17374,
                        "modified_by": 0,
                        "name": "slim",
                        "status_id": 3,
                        "timestamp": "2011-12-20T19:48:27.000Z"
                    }
                ],
                "info": {
                    "elapsed_time": 4,
                    "inputs": {
                        "component_id": "1",
                        "count": 5,
                        "start": 0
                    },
                    "total": 7
                }
            }

## ComponentInstance [/components/instances/{id}]
### Retrieve a component instance [GET]

+ Parameters

    + id (required, string, `21024`) ... Component instance id
    
+ Response 200 (application/json)

    + Body

            {
                "code": 200,
                "data": {
                    "attribute_values": [
                        {
                            "attribute_name": [
                                {
                                    "default_value": "active",
                                    "id": 6,
                                    "modified_by": 1,
                                    "name": "Status",
                                    "timestamp": "2010-08-19T21:43:11.000Z"
                                }
                            ],
                            "attribute_name_id": 6,
                            "id": 7,
                            "modified_by": 13,
                            "normalized_value": "inactive",
                            "timestamp": "2010-08-19T21:43:11.000Z",
                            "value": "inactive"
                        },
                        {
                            "attribute_name": [
                                {
                                    "default_value": "standard",
                                    "id": 7,
                                    "modified_by": 0,
                                    "name": "format",
                                    "timestamp": "2010-09-01T05:44:51.000Z"
                                }
                            ],
                            "attribute_name_id": 7,
                            "id": 25,
                            "modified_by": 0,
                            "normalized_value": "standard",
                            "timestamp": "2010-09-01T05:46:27.000Z",
                            "value": "standard"
                        }
                    ],
                    "component": [
                        {
                            "modified_by": 1,
                            "name": "Universal Header",
                            "timestamp": "2010-08-19T21:39:47.000Z"
                        }
                    ],
                    "component_id": 1,
                    "hashcode": "da6e2ad4dda1de21a28f4f237da4c0b2",
                    "id": 21024,
                    "modified_by": 0,
                    "name": "standard",
                    "status_id": 3,
                    "timestamp": "2012-05-24T22:12:34.000Z"
                },
                "info": {
                    "elapsed_time": 10,
                    "inputs": {
                        "_id": "21024",
                        "show_attribute_name": "1",
                        "show_attribute_values": "1",
                        "show_component": "1"
                    }
                }
            }

## RuleInstance Collection [/components/instances/{id}/rules/instances{?start,count}]
### List all the rules of a component instance [GET]

+ Parameters

    + id (required, string, `21024`) ... Component instance id
    + start (optional, number, `0`) ... This offsets the start of each page by the number specified.
    + count (optional, number, `10`) ... This is the number of records returned in each page.  A count of 0 will return to no results.

+ Response 200 (application/json)

    + Body

            {
                "code": 200,
                "data": [
                    {
                        "component_instance": [
                            {
                                "component_id": 1,
                                "hashcode": "da6e2ad4dda1de21a28f4f237da4c0b2",
                                "id": 21024,
                                "modified_by": 0,
                                "name": "standard",
                                "status_id": 3,
                                "timestamp": "2012-05-24T22:12:34.000Z"
                            }
                        ],
                        "component_instance_id": 21024,
                        "id": 121,
                        "mapping_id": 32169,
                        "modified_by": 0,
                        "name": "Device is Smartphone",
                        "rule_id": 0,
                        "rule_instance_value": "<equals><device/><text>smartphone</text></equals>",
                        "rule_position": 0,
                        "rule_weight": 0,
                        "template_instance": [
                            {
                                "id": 15609,
                                "modified_by": 0,
                                "name": "Universal Header 3.0.2 Mobile Layout",
                                "status_id": 0,
                                "template_id": 10661,
                                "timestamp": "2013-01-23T18:26:03.000Z"
                            }
                        ],
                        "template_instance_id": 15609,
                        "timestamp": "2012-05-30T20:50:56.000Z"
                    },
                    {
                        "component_instance": [
                            {
                                "component_id": 1,
                                "hashcode": "da6e2ad4dda1de21a28f4f237da4c0b2",
                                "id": 21024,
                                "modified_by": 0,
                                "name": "standard",
                                "status_id": 3,
                                "timestamp": "2012-05-24T22:12:34.000Z"
                            }
                        ],
                        "component_instance_id": 21024,
                        "id": 122,
                        "mapping_id": 32499,
                        "modified_by": 0,
                        "name": "Device is tablet",
                        "rule_id": 0,
                        "rule_instance_value": "<equals><device/><text>tablet</text></equals>",
                        "rule_position": 1,
                        "rule_weight": 0,
                        "template_instance": [
                            {
                                "id": 15693,
                                "modified_by": 0,
                                "name": "Universal Header 3.0.2 Tablet Layout",
                                "status_id": 0,
                                "template_id": 10697,
                                "timestamp": "2013-03-01T04:39:07.000Z"
                            }
                        ],
                        "template_instance_id": 15693,
                        "timestamp": "2012-05-30T20:51:16.000Z"
                    },
                    {
                        "component_instance": [
                            {
                                "component_id": 1,
                                "hashcode": "da6e2ad4dda1de21a28f4f237da4c0b2",
                                "id": 21024,
                                "modified_by": 0,
                                "name": "standard",
                                "status_id": 3,
                                "timestamp": "2012-05-24T22:12:34.000Z"
                            }
                        ],
                        "component_instance_id": 21024,
                        "id": 262,
                        "mapping_id": 32589,
                        "modified_by": 0,
                        "name": "mail uh3 and test=1",
                        "rule_id": 0,
                        "rule_instance_value": "<and><and><equals><languagetag/><text>en-us</text></equals><equals><property/><text>mail</text></equals></and><and><equals><experience/><text>uh3</text></equals><equals><test/><text>1</text></equals></and></and>",
                        "rule_position": 2,
                        "rule_weight": 0,
                        "template_instance": [
                            {
                                "id": 12664,
                                "modified_by": 0,
                                "name": "Universal Header 3.0.2 Standard Layout (Minty)",
                                "status_id": 0,
                                "template_id": 10550,
                                "timestamp": "2012-10-29T20:59:04.000Z"
                            }
                        ],
                        "template_instance_id": 12664,
                        "timestamp": "2013-03-28T18:56:10.000Z"
                    },
                    {
                        "component_instance": [
                            {
                                "component_id": 1,
                                "hashcode": "da6e2ad4dda1de21a28f4f237da4c0b2",
                                "id": 21024,
                                "modified_by": 0,
                                "name": "standard",
                                "status_id": 3,
                                "timestamp": "2012-05-24T22:12:34.000Z"
                            }
                        ],
                        "component_instance_id": 21024,
                        "id": 263,
                        "mapping_id": 32575,
                        "modified_by": 0,
                        "name": "uh2 experience",
                        "rule_id": 0,
                        "rule_instance_value": "<equals><experience/><text>uh2</text></equals>",
                        "rule_position": 3,
                        "rule_weight": 0,
                        "template_instance": [
                            {
                                "id": 2231,
                                "modified_by": 0,
                                "name": "Universal Header 2.0.4 (most props)",
                                "status_id": 0,
                                "template_id": 92,
                                "timestamp": "2011-04-22T01:28:28.000Z"
                            }
                        ],
                        "template_instance_id": 2231,
                        "timestamp": "2013-03-29T00:34:10.000Z"
                    },
                    {
                        "component_instance": [
                            {
                                "component_id": 1,
                                "hashcode": "da6e2ad4dda1de21a28f4f237da4c0b2",
                                "id": 21024,
                                "modified_by": 0,
                                "name": "standard",
                                "status_id": 3,
                                "timestamp": "2012-05-24T22:12:34.000Z"
                            }
                        ],
                        "component_instance_id": 21024,
                        "id": 260,
                        "mapping_id": 32530,
                        "modified_by": 0,
                        "name": "property is srp and experience is uh3",
                        "rule_id": 0,
                        "rule_instance_value": "<and><notequals><iframe/><text>1</text></notequals><and><and><and><notequals><device/><text>smartphone</text></notequals><notequals><device/><text>tablet</text></notequals></and><equals><property/><text>srp</text></equals></and><equals><experience/><text>uh3</text></equals></and></and>",
                        "rule_position": 5,
                        "rule_weight": 0,
                        "template_instance": [
                            {
                                "id": 15376,
                                "modified_by": 0,
                                "name": "Universal Header 3.0.3 Modified Layout",
                                "status_id": 0,
                                "template_id": 10604,
                                "timestamp": "2012-11-13T23:20:32.000Z"
                            }
                        ],
                        "template_instance_id": 15376,
                        "timestamp": "2013-03-23T19:40:51.000Z"
                    }
                ],
                "info": {
                    "elapsed_time": 9,
                    "inputs": {
                        "_component_instance_id": "21024",
                        "count": 5,
                        "show_component_instance": "1",
                        "show_template_instance": "1",
                        "start": 0
                    },
                    "total": 41
                }
            }
            
# Group Templates Resources

## TemplateAttribute Collection [/templates/attributes{?start,count}]
### List all attributes [GET]

+ Parameters

    + start (optional, number, `0`) ... This offsets the start of each page by the number specified.
    + count (optional, number, `10`) ... This is the number of records returned in each page.  A count of 0 will return to no results.

+ Response 200 (application/json)

    + Body

            {
                "code": 200,
                "data": [
                    {
                        "id": 93,
                        "modified_by": 0,
                        "name": "search action",
                        "timestamp": "2013-12-20T04:20:08.000Z",
                        "type": "Text"
                    },
                    {
                        "id": 92,
                        "modified_by": 0,
                        "name": "anim size cls",
                        "timestamp": "2013-12-13T03:10:05.000Z",
                        "type": "Text"
                    },
                    {
                        "id": 91,
                        "modified_by": 0,
                        "name": "wrapper width",
                        "timestamp": "2013-12-13T02:22:43.000Z",
                        "type": "Number"
                    },
                    {
                        "id": 90,
                        "modified_by": 0,
                        "name": "yqlenv",
                        "timestamp": "2013-12-06T19:18:19.000Z",
                        "type": "Text"
                    },
                    {
                        "id": 89,
                        "modified_by": 0,
                        "name": "sslsearchaction",
                        "timestamp": "2013-12-05T22:56:51.000Z",
                        "type": "URL"
                    },
                    {
                        "id": 88,
                        "modified_by": 0,
                        "name": "glow color",
                        "timestamp": "2013-11-05T01:22:02.000Z",
                        "type": "Text"
                    },
                    {
                        "id": 87,
                        "modified_by": 0,
                        "name": "gradient bottom color",
                        "timestamp": "2013-11-05T01:22:02.000Z",
                        "type": "Text"
                    },
                    {
                        "id": 86,
                        "modified_by": 0,
                        "name": "gradient top color",
                        "timestamp": "2013-11-05T01:22:02.000Z",
                        "type": "Text"
                    },
                    {
                        "id": 85,
                        "modified_by": 0,
                        "name": "border color",
                        "timestamp": "2013-11-05T01:22:02.000Z",
                        "type": "Text"
                    },
                    {
                        "id": 84,
                        "modified_by": 0,
                        "name": "background color",
                        "timestamp": "2013-11-05T01:22:02.000Z",
                        "type": "Text"
                    }
                ],
                "info": {
                    "elapsed_time": 4,
                    "inputs": {
                        "count": 10,
                        "start": 0
                    },
                    "total": 92
                }
            }
            
## TemplateAttribute [/templates/attribute/{id}{?start,count}]
### Retrieve an attribute [GET]

+ Parameters

    + id (required, number, `1`) ... Template Attribute id
    + start (optional, number, `0`) ... This offsets the start of each page by the number specified.
    + count (optional, number, `10`) ... This is the number of records returned in each page.  A count of 0 will return to no results.

+ Response 200 (application/json)

    + Body

            {
                "code": 200,
                "data": {
                    "attribute_values": [
                        {
                            "id": 39358,
                            "modified_by": 0,
                            "template_instance_id": 16752,
                            "timestamp": "2013-11-05T02:15:57.000Z",
                            "value": "#1b44ab"
                        },
                        {
                            "id": 39352,
                            "modified_by": 0,
                            "template_instance_id": 16749,
                            "timestamp": "2013-11-05T01:35:51.000Z",
                            "value": "#0e2b5c"
                        }
                    ],
                    "id": 84,
                    "modified_by": 0,
                    "name": "background color",
                    "timestamp": "2013-11-05T01:22:02.000Z",
                    "type": "Text"
                },
                "info": {
                    "elapsed_time": 5,
                    "inputs": {
                        "_id": "84",
                        "count": 5,
                        "show_attribute_values": "1",
                        "start": 0
                    },
                    "total": 2
                }
            }
            
## Template Collection [/templates{?resource_id,component_id,start,count}]
### List all templates [GET]

+ Parameters

    + resource_id (optional, string, `11058`) ... Resource filters
    + component_id (optional, string, `1,5`) ... Component filters
    + start (optional, number, `0`) ... This offsets the start of each page by the number specified.
    + count (optional, number, `10`) ... This is the number of records returned in each page.  A count of 0 will return to no results.

+ Response 200 (application/json)

    + Body

            {
                "code": 200,
                "data": [
                    {
                        "component_id": 0,
                        "id": 11237,
                        "modified_by": 0,
                        "name": "uh3_css_gridoverride 180 rail",
                        "resource_id": 11243,
                        "timestamp": "2014-01-15T23:38:10.000Z"
                    },
                    {
                        "component_id": 270,
                        "id": 11236,
                        "modified_by": 0,
                        "name": "uh3_css_gridoverride empty",
                        "resource_id": 11242,
                        "timestamp": "2014-01-15T23:35:39.000Z"
                    },
                    {
                        "component_id": 270,
                        "id": 11235,
                        "modified_by": 0,
                        "name": "uh3_css_gridoverride",
                        "resource_id": 11241,
                        "timestamp": "2014-01-15T23:30:35.000Z"
                    },
                    {
                        "component_id": 269,
                        "id": 11234,
                        "modified_by": 0,
                        "name": "uh3_assistarrows_on",
                        "resource_id": 11240,
                        "timestamp": "2014-01-15T20:03:52.000Z"
                    },
                    {
                        "component_id": 269,
                        "id": 11233,
                        "modified_by": 0,
                        "name": "uh3_assistarrows_off",
                        "resource_id": 11239,
                        "timestamp": "2014-01-15T20:02:09.000Z"
                    }
                ],
                "info": {
                    "elapsed_time": 5,
                    "inputs": {
                        "count": 5,
                        "start": 0
                    },
                    "total": 11036
                }
            }

## Template [/templates/{id}]
### Retrieve a template [GET]

+ Parameters

    + id (required, number, `1`) ... Template id

+ Response 200 (application/json)

    + Body
    
            {
                "code": 200,
                "data": {
                    "attribute_names": [
                        {
                            "id": 46,
                            "modified_by": 0,
                            "name": "device",
                            "timestamp": "2012-08-17T15:59:10.000Z",
                            "type": "Text"
                        },
                        {
                            "id": 52,
                            "modified_by": 0,
                            "name": "bucketid",
                            "timestamp": "2013-01-17T21:13:57.000Z",
                            "type": "Number"
                        },
                        {
                            "id": 84,
                            "modified_by": 0,
                            "name": "background color",
                            "timestamp": "2013-11-05T01:22:02.000Z",
                            "type": "Text"
                        },
                        {
                            "id": 85,
                            "modified_by": 0,
                            "name": "border color",
                            "timestamp": "2013-11-05T01:22:02.000Z",
                            "type": "Text"
                        },
                        {
                            "id": 86,
                            "modified_by": 0,
                            "name": "gradient top color",
                            "timestamp": "2013-11-05T01:22:02.000Z",
                            "type": "Text"
                        },
                        {
                            "id": 87,
                            "modified_by": 0,
                            "name": "gradient bottom color",
                            "timestamp": "2013-11-05T01:22:02.000Z",
                            "type": "Text"
                        },
                        {
                            "id": 88,
                            "modified_by": 0,
                            "name": "glow color",
                            "timestamp": "2013-11-05T01:22:02.000Z",
                            "type": "Text"
                        }
                    ],
                    "component": [
                        {
                            "modified_by": 0,
                            "name": "uh3s_vertical_search_button",
                            "show_component_attribute_names": [
                                {
                                    "default_value": "active",
                                    "id": 6,
                                    "modified_by": 1,
                                    "name": "Status",
                                    "timestamp": "2010-08-19T21:43:11.000Z"
                                },
                                {
                                    "default_value": "",
                                    "id": 1,
                                    "modified_by": 1,
                                    "name": "Property",
                                    "timestamp": "2010-08-19T21:43:11.000Z"
                                },
                                {
                                    "default_value": "en-US",
                                    "id": 2,
                                    "modified_by": 1,
                                    "name": "LanguageTag",
                                    "timestamp": "2010-08-19T21:43:11.000Z"
                                }
                            ],
                            "timestamp": "2013-11-05T01:19:29.000Z"
                        }
                    ],
                    "component_id": 258,
                    "id": 11052,
                    "modified_by": 0,
                    "name": "uh3s vertical_search_button markup",
                    "resource": [
                        {
                            "cache_path": "yahoo/platform/ucs/trunk/ucs_components/uh_3_0_4s/search/markup/vertical_search_button.html",
                            "id": 11058,
                            "meta": "{\"svn_path\":\"svn+ssh:\\/\\/svn.corp.yahoo.com\\/yahoo\\/platform\\/ucs\\/trunk\\/ucs_components\\/uh_3_0_4s\\/search\\/markup\\/vertical_search_button.html\",\"svn_rev\":\"25159\"}",
                            "modified_by": 0,
                            "name": "uh3s vertical_search_button markup",
                            "path": "yahoo/platform/ucs/trunk/ucs_components/uh_3_0_4s/search/markup/vertical_search_button.html",
                            "resource": "<td class=\"Grid W-10 Whs-nw Pstart-4\"><style type=\"text/css\">#UHSearchProperty, .Themable .ThemeReset #UHSearchProperty {background-color: ${{cms.background_color.text}};border-color: ${{cms.border_color.text}};background: -moz-linear-gradient(top,${{cms.gradient_top_color.text}} 0,${{cms.gradient_bottom_color.text}} 100%);background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,${{cms.gradient_top_color.text}}),color-stop(100%,${{cms.gradient_bottom_color.text}}));background: -webkit-linear-gradient(top,${{cms.gradient_top_color.text}} 0,${{cms.gradient_bottom_color.text}} 100%);background: -o-linear-gradient(top,${{cms.gradient_top_color.text}} 0,${{cms.gradient_bottom_color.text}} 100%);background: -ms-linear-gradient(top,${{cms.gradient_top_color.text}} 0,${{cms.gradient_bottom_color.text}} 100%);background: linear-gradient(to bottom,${{cms.gradient_top_color.text}} 0,${{cms.gradient_bottom_color.text}} 100%);box-shadow: inset 0 1px 3px 0 ${{cms.glow_color.text}},0 0 3px #555;}</style><input id=\"UHSearchProperty\" class=\"Grid-U Btn M-0\" type=\"button\" data-vfr=\"${{ucs.nestedcomponent.begin}}uh3_vsearch_fr${{ucs.nestedcomponent.end}}\"data-vsearch=\"${{ucs.ult.begin}}${{ucs.link.begin}}${{ucs.nestedcomponent.begin}}uh3_vertical_search_action${{ucs.nestedcomponent.end}}${{ucs.link.end}}${{ucs.section.begin}}UH 3S ${{cms.device.text}} Search ${{cms.bucketid.number}}${{ucs.section.end}}${{ucs.name.begin}}UH 3S ${{cms.device.text}} Assisted Vertical Search${{ucs.name.end}}${{ucs.ult.end}}\"value=\"${{ucs.nestedcomponent.begin}}uh3_vertical_search_btn_text${{ucs.nestedcomponent.end}}\"></td>",
                            "revision": 25159,
                            "timestamp": "2013-11-05T01:22:02.000Z"
                        }
                    ],
                    "resource_id": 11058,
                    "timestamp": "2013-11-05T01:22:02.000Z"
                },
                "info": {
                    "elapsed_time": 10,
                    "inputs": {
                        "_id": "11052",
                        "show_attribute_names": "1",
                        "show_component": "1",
                        "show_component_attribute_names": "1",
                        "show_resource": "1"
                    }
                }
            }
            
## TemplateInstance Collection [/templates/instances{?template_id,start,count}]
### List all instances [GET]

+ Parameters

    + template_id (optional, string, `11052`) ... Template filters
    + start (optional, number, `0`) ... This offsets the start of each page by the number specified.
    + count (optional, number, `10`) ... This is the number of records returned in each page.  A count of 0 will return to no results.

+ Response 200 (application/json)

    + Body

            {
                "code": 200,
                "data": [
                    {
                        "id": 17599,
                        "modified_by": 0,
                        "name": "uh3_css_gridoverride empty",
                        "status_id": 0,
                        "template_id": 11236,
                        "timestamp": "2014-01-15T23:40:30.000Z"
                    },
                    {
                        "id": 17598,
                        "modified_by": 0,
                        "name": "uh3_css_gridoverride 180px rail",
                        "status_id": 0,
                        "template_id": 11235,
                        "timestamp": "2014-01-15T23:40:12.000Z"
                    },
                    {
                        "id": 17597,
                        "modified_by": 0,
                        "name": "uh3_assistarrows_off",
                        "status_id": 0,
                        "template_id": 11233,
                        "timestamp": "2014-01-15T20:11:51.000Z"
                    },
                    {
                        "id": 17596,
                        "modified_by": 0,
                        "name": "uh3_assistarrows_off",
                        "status_id": 0,
                        "template_id": 11233,
                        "timestamp": "2014-01-15T20:04:40.000Z"
                    },
                    {
                        "id": 17595,
                        "modified_by": 0,
                        "name": "src_code celebrity",
                        "status_id": 0,
                        "template_id": 1,
                        "timestamp": "2014-01-15T18:20:30.000Z"
                    }
                ],
                "info": {
                    "elapsed_time": 6,
                    "inputs": {
                        "count": 5,
                        "start": 0
                    },
                    "total": 16207
                }
            }

## TemplateInstance [/templates/instances/{id}]
### Retrieve a template instance [GET]


+ Parameters

    + id (required, string, `21024`) ... Template instance id
    
+ Response 200 (application/json)

    + Body

            {
                "code": 200,
                "data": {
                    "attribute_values": [
                        {
                            "attribute_name": [
                                {
                                    "id": 84,
                                    "modified_by": 0,
                                    "name": "background color",
                                    "timestamp": "2013-11-05T01:22:02.000Z",
                                    "type": "Text"
                                }
                            ],
                            "attribute_name_id": 84,
                            "id": 39358,
                            "modified_by": 0,
                            "timestamp": "2013-11-05T02:15:57.000Z",
                            "value": "#1b44ab"
                        },
                        {
                            "attribute_name": [
                                {
                                    "id": 85,
                                    "modified_by": 0,
                                    "name": "border color",
                                    "timestamp": "2013-11-05T01:22:02.000Z",
                                    "type": "Text"
                                }
                            ],
                            "attribute_name_id": 85,
                            "id": 39359,
                            "modified_by": 0,
                            "timestamp": "2013-11-05T02:15:57.000Z",
                            "value": "#2813b1"
                        },
                        {
                            "attribute_name": [
                                {
                                    "id": 86,
                                    "modified_by": 0,
                                    "name": "gradient top color",
                                    "timestamp": "2013-11-05T01:22:02.000Z",
                                    "type": "Text"
                                }
                            ],
                            "attribute_name_id": 86,
                            "id": 39360,
                            "modified_by": 0,
                            "timestamp": "2013-11-05T02:15:57.000Z",
                            "value": "#2653bd"
                        },
                        {
                            "attribute_name": [
                                {
                                    "id": 87,
                                    "modified_by": 0,
                                    "name": "gradient bottom color",
                                    "timestamp": "2013-11-05T01:22:02.000Z",
                                    "type": "Text"
                                }
                            ],
                            "attribute_name_id": 87,
                            "id": 39361,
                            "modified_by": 0,
                            "timestamp": "2013-11-05T02:15:57.000Z",
                            "value": "#183395"
                        },
                        {
                            "attribute_name": [
                                {
                                    "id": 88,
                                    "modified_by": 0,
                                    "name": "glow color",
                                    "timestamp": "2013-11-05T01:22:02.000Z",
                                    "type": "Text"
                                }
                            ],
                            "attribute_name_id": 88,
                            "id": 39362,
                            "modified_by": 0,
                            "timestamp": "2013-11-05T02:15:57.000Z",
                            "value": "#5fa0c5"
                        }
                    ],
                    "id": 16752,
                    "modified_by": 0,
                    "name": "uh3s vertical_search_button mag_food",
                    "status_id": 0,
                    "template": [
                        {
                            "component_id": 258,
                            "modified_by": 0,
                            "name": "uh3s vertical_search_button markup",
                            "resource_id": 11058,
                            "timestamp": "2013-11-05T01:22:02.000Z"
                        }
                    ],
                    "template_id": 11052,
                    "timestamp": "2013-11-05T02:15:57.000Z"
                },
                "info": {
                    "elapsed_time": 7,
                    "inputs": {
                        "_id": "16752",
                        "show_attribute_name": "1",
                        "show_attribute_values": "1",
                        "show_template": "1"
                    }
                }
            }

